* {
  margin: 0;
  padding: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  transform: translateY(-50%) translateX(-50%);
}
header {
  margin-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header h1 {
  padding-top: 25px;
}
h1 {
  font-size: 50px;
  font-family: verdana;
}
img {
  display: flex;
  height: 80%;
  width: 120px;
  margin-left: 0px;
}
/*Barra de navegacion*/
.menu {
  list-style: none;
  width: 100%;
  margin: auto;
  text-align: center;
}
.menu li {
  display: inline-flex;
  padding: 10px;
}
.menu li a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  border: 2px solid black;
  padding: 20px;
  font-family: sans-serif;
  background-image: linear-gradient(to right bottom, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}
.menu li a:hover {
  color: black;
}
/*Tabla*/
table,
center,
th,
td {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  background-color: white;
}
th,
td {
  padding: 8px;
}

caption h1 {
  margin: 15px 0;
}
caption p {
  margin-bottom: 15px;
}
/*Parte Funciones*/
.funciones {
  display: inline-flexbox;
  text-align: center;
  font-size: 35px;
  font-family: sans-serif;
  padding: 20px;
  margin-top: 20px;
}
.menu-funciones {
  margin: 0 400px 20px;
  display: inline-flexbox;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px 20px;
}
button {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-size: 20px;
}
.encender button:hover {
  background-color: green;
  color: white;
}
.apagar button:hover {
  background-color: red;
  color: white;
}
@media only screen and (max-width: 1054px) {
  .menu-funciones {
    margin: 0 200px 20px;
  }
}
@media only screen and (max-width: 645px) {
  .menu-funciones {
    margin: 0 100px 20px;
  }
}
